*{
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 20px;
}
body{
  display: grid;
  background-color: #F0F0F2;
}
main{
  display: grid;
}

h1{
  font-family: 'Josefin Slab', serif;
  font-size: 1.8rem;
  margin: 40px 0px 20px 0px;
}

h2{
  font-family: 'Josefin Slab', serif;
  font-size: 1.6rem;
  margin: 40px 0px 20px 0px;
}

h3{
  font-family: 'Josefin Slab', serif;
  font-size: 1.4rem;
  margin: 40px 0px 20px 0px;
}
p{
  line-height: 1.7rem;
  margin: 0 0px 20px 0px;
}

/*Header*/
header {
  background-color: #A8B48E;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 28px;
  position: sticky;
  top: 0;
}
header img {
  height: 4rem;
}
.fa-bars {
  color: white;
  font-size: 30px;
}
header ul {
  display: none;
}
header a {
  color: white;
  text-decoration: none;
}


/*slider billeder*/
.intro{
  margin: 1.5em;
}
.bottom{
  height: 2.5rem;
  width: 8rem;
  background-color: #768C45;
  color: white;
  text-align: center;
  padding: 7px;
  border-radius: 9px;
  border: solid #542A2A 1px;
  box-shadow: 1px 3px 5px #8f8f8f;
}
.bottom:hover{
  cursor: pointer;
  animation: bottomsColor 1s ease infinite alternate;
}
@keyframes bottomsColor{
  from{
    background-color: #768C45;
  }
  to{
    background-color: #4d5f26;
  }
}
.carousel{
  margin: 1em;
  display: flex;
  gap: 4px;
  justify-content: center;

}
.dot1{
  animation: chanceColor1 30s linear infinite;
  border-radius: 50px;
  border: solid black 0.5px;
}
.dot2{
  animation: chanceColor2 30s linear infinite;
  border-radius: 50px;
  border: solid black 0.5px;
}
.dot3{
  animation: chanceColor3 30s linear infinite;
  border-radius: 50px;
  border: solid black 0.5px;
}
.dot4{
  animation: chanceColor4 30s linear infinite;
  border-radius: 50px;
  border: solid black 0.5px;
}
.dot5{
  animation: chanceColor5 30s linear infinite;
  border-radius: 50px;
  border: solid black 0.5px;
}
@keyframes chanceColor1{
  0%{
    background-color: rgb(0, 0, 0);
    width: 12px;
    height: 12px;
  }
  20%{
    background-color: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
  }
  40%{
    background-color: transparent;
    width: 8px;
    height: 8px;
  }
  60%{
    background-color: transparent;
    width: 6px;
    height: 6px;
  }
  80%{
    background-color: transparent;
    width: 6px;
    height: 6px;
  }
  100%{
    background-color: black;
    width: 12px;
    height: 12px;
  }
}
@keyframes chanceColor2{
  0%{
    background-color: transparent;
    width: 10px;
    height: 10px;
  }
  20%{
    background-color: black;
    width: 12px;
    height: 12px;
  }
  40%{
    background-color: transparent;
    width: 10px;
    height: 10px;
  }
  60%{
    background-color: transparent;
    width: 8px;
    height: 8px;
  }
  80%{
    background-color: transparent;
    width: 6px;
    height: 6px;
  }
  100%{
    background-color: transparent;
    width: 10px;
    height: 10px;
  }
}
@keyframes chanceColor3{
  0%{
    background-color: transparent;
    width: 8px;
    height: 8px;
  }
  20%{
    background-color: transparent;
    width: 10px;
    height: 10px;
  }
  40%{
    background-color: black;
    width: 12px;
    height: 12px;
  }
  60%{
    background-color: transparent;
    width: 10px;
    height: 10px;
  }
  80%, 100%{
    background-color: transparent;
    width: 8px;
    height: 8px;
  }
}
@keyframes chanceColor4{
  0%{
    background-color: transparent;
    width: 6px;
    height: 6px;
  }
  20%{
    background-color: transparent;
    width: 8px;
    height: 8px;
  }
  40%{
    background-color: transparent;
    width: 10px;
    height: 10px;
  }
  60%{
    background-color: black;
    width: 12px;
    height: 12px;
  }
  80%{
    background-color: transparent;
    width: 10px;
    height: 10px;
  }
  100%{
    background-color: white;
    width: 6px;
    height: 6px;
  }
}
@keyframes chanceColor5{
  0%{
    background-color: transparent;
    width: 6px;
    height: 6px;
  }
  20%{
    background-color: transparent;
    width: 6px;
    height: 6px;
  }
  40%{
    background-color: transparent;
    width: 8px;
    height: 8px;
  }
  60%{
    background-color: transparent;
    width: 10px;
    height: 10px;
  }
  80%{
    background-color: black;
    width: 12px;
    height: 12px;
  }
  100%{
    background-color: transparent;
    width: 6px;
    height: 6px;
  }
}
.carousel-frame{
  overflow: hidden;
}
.carousel-container {
  display: flex;
  animation: carousel 30s infinite ease-in-out; /* Juster varighed efter behov */
}
.carousel-slide {
  min-width: 99%;
  margin: 0 0.5%;
}
.carousel-slide img {
  width: 100%;
  height: auto;
}
@keyframes carousel {
  0% {
      transform: translateX(0%);
  }
  20% {
      transform: translateX(-100%);
  }
  40% {
      transform: translateX(-200%);
  }
  60% {
      transform: translateX(-300%);
  }
  80% {
      transform: translateX(-400%);
  }
  100% {
      transform: translateX(0%);
  }
}

/*Foreninger*/ 
.foreninger {
  margin: 1.5em;
}
.gym {
  display: grid;
  place-items: center;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1em;
  
}

.if {
  display: grid;
  place-items: center;
  width: 100%;
  border-radius: 10px; 
  margin-bottom: 1em;
}
.gymnastik {
  color: #A8B48E;
  text-decoration: none; 
  line-height: 1.7rem;
  margin: 0 17px 20px 17px;
}

.facebook-if {
  color: #A8B48E;
  text-decoration: none; 
  line-height: 1.7rem;
  margin: 0 17px 20px 17px;
}

.hjemmeside-if {
  color: #A8B48E;
  text-decoration: none; 
  line-height: 1.7rem;
  margin: 0 17px 20px 17px;
}

/*børneinstitution*/
.skole {
  background-color: #a8b48e;
  color: white;
}
.skole img{
  width: 100%;
}
.skole h3 {
  padding: 20px;
  margin: 20px;
  font-size: 1.6rem;
}
.skole p {
  padding: 20px;
  margin: 0 20px 20px 20px;
}
.tekst {
  display: flex;
  flex-direction: column;
}
#knap { /*TEKST SKAL VÆRE I CENTER*/
  background-color: #F1F1EA;
  color: #768C45;
  height: 2.5rem;
  width: 9rem;
  text-align: center;
  border-radius: 9px;
  border: solid #542A2A 1px;
  box-shadow: 1px 3px 5px #8f8f8f;
  align-self: center;
}

/*Borgernes fortælling*/
.borgertekst {
  text-align: center;
}
.fortælling {
  gap: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.rasmus img {
  width: 10rem;
  border-radius: 50%;
  margin-left: 5%;
}
.rasmus h4 {
  text-align: center;
  padding: 10px 0;
}
.rasmus p {
  margin: 0 30px;
}

.rikke img {
  width: 10rem;
  border-radius: 50%;
}

.gitte img {
  width: 10rem;
  border-radius: 50%;
}

/*Reklamer*/
.reklame-frame{
  overflow: hidden;
}
.reklame-container{
  display: flex;
  animation: reklame 30s infinite linear;
}
.reklame-slide{
  min-width: 25%;
  margin: 0 0.5%;
}
.reklame-slide img{
  width: 100%;
  height: auto;
}
@keyframes reklame {
  0% {
      transform: translateX(0%);
  }
  80%{
      transform: translateX(-100%);
  }
  100%{
      transform: translateX(0%);
  }
}

@media only screen and (min-width: 800px) {

  /*header*/
  .fa-bars {
    display: none; /*DEN VIL IKKE FJERNES*/
  }
  header ul {
    display: flex;
    gap: 5rem;
    list-style-type: none;
  }
  nav ul {
    list-style: none;
    display: flex;
    padding: 0;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    position: relative;
  }
  
  nav a:hover::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: #F1F1EA; /* Farven på den farvede streg */
    position: absolute;
    bottom: -2px;
    left: 0;
  }
    
  /*intro*/
  .carousel-frame{
    max-width: 45%;
    margin: 3rem 0 0 1rem;
    border-radius: 1rem 1rem 0 0;
  }
  .carousel{
    justify-content: left;
    margin-left: 20%;
  }
  .intro{
    position: absolute;
    right: 1px;
    top: 14%;
    width: 50%;
  }

  /*børneinstitution*/
  .skole {
    display:flex ;
  }
  .skole img {
    width: 65%;
    height: auto;
  }
  .tekst {
    margin-top: 5%;
    padding: 20px;
  }
  .tekst h3 {
    font-size: 1.7rem;
  }
  .tekst p {
    font-size: 30px;
  }
  #knap {
    font-size: 1rem;
    margin-top: 30px;
  }
  /*Borgernes fortælling*/
  .fortælling {
    display: flex;
    flex-direction: row;
    margin: 5%;
  }
  /*Reklamer*/
  .reklame-frame{
    width: 100%;
  }
@media only screen and (min-width: 1200px) {
  html{
    font-size: 23px;
  }
  }